{{#create_task}}
    <div style="margin: 0 0 20px;">
        <a class="button" href="?page={{page_name}}&task={{create_task}}">Create New {{model_name}}</a>
    </div>
{{/create_task}}

<table id="admin-wordwrap_crud" class="wp-list-table widefat fixed pages">
    <thead>
    <tr>
        {{{columns}}}
        <th scope="col" class="details" style="width:40px">Details</th>
    </tr>
    </thead>
    <tbody>
        {{{rows}}}
    </tbody>
</table>

<ul id="pages">
    <li><a class="previous" {{#first_page}}disabled{{/first_page}} {{^first_page}}href="?page={{page_name}}&task=view_all&p={{previous_page}}"{{/first_page}}>&lt;</a></li>
    {{{page_links}}}
    <li><a class="next" {{#last_page}}disabled{{/last_page}} {{^last_page}}href="?page={{page_name}}&task={{crud_task}}&p={{next_page}}"{{/last_page}}>&gt;</a></li>
</ul>
